<div class="container">
    <h1>
        Bienvenido al ejercicio de Angular Material
    </h1>
    <p>
        Explora nuestra variada colección de componentes de Angular Material
        que nos sirven para practicar y mejorar nuestras habilidades en el desarrollo web.
        Comenzamos con un primer contacto con Angular Material, con el que podremos explorar 
        nuevas conceptos de aprendizaje con el uso de componentes en Angular Material!
    </p>
    <button mat-raised-button color="primary" routerLink="/menu">Acceder</button>
</div>




