.full-width-table {
  width: 100%;
}
.container {
  max-width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
button {
  margin-top: 20px;
}

h2{
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
  color: #4700ca; /* Angular Material color */
}
